//
//  emdeddable-framework-target.xcconfig
//  Settings for an emdedded framework target
//
//  Created by Wincent Colaiuta on 18/02/2006.
//  Copyright 2006 Wincent Colaiuta. 

#include "framework-target.xcconfig"

// store private headers in $(TARGET_BUILD_DIR)/$(PRODUCT_NAME)
PRIVATE_HEADERS_FOLDER_PATH = $(PRODUCT_NAME)/

INSTALL_PATH                = @executable_path/../Frameworks