//
//  installed-framework-target.xcconfig
//  Settings for an installed framework target
//
//  Created by Wincent Colaiuta on 18 February 2006.
//  Copyright 2006 Wincent Colaiuta. 

#include "framework-target.xcconfig"

HEADER_SEARCH_PATHS   = /Library/Frameworks

// build at INSTALL_PATH
DEPLOYMENT_LOCATION   = YES
INSTALL_PATH          = /Library/Frameworks
DSTROOT               = /

// build for native arch only
ARCHS                 = $(NATIVE_ARCH)
SDKROOT               =
SDKROOT_i386          = 
SDKROOT_ppc           = 