//
//  loadable-test-bundle-target.xcconfig
//  Settings for a (unit testing) loadable bundle target
//
//  Created by Wincent Colaiuta on 18/02/2006.
//  Copyright 2006 Wincent Colaiuta. 
//  $Id: interface-builder-palette.xcconfig 5 2006-03-10 02:26:20Z wincent $

#include "loadable-bundle-target.xcconfig"

WRAPPER_EXTENSION               = palette

// to actually install pass DSTROOT=/ to xcodebuild install
INSTALL_PATH                    = $(HOME)/Library/Palettes
