//
//  loadable-test-bundle-target.xcconfig
//  Settings for a (unit testing) loadable bundle target
//
//  Created by Wincent Colaiuta on 18 February 2006.
//  Copyright 2006 Wincent Colaiuta. 
//  $Id: loadable-test-bundle-target.xcconfig 56 2007-03-26 11:01:49Z wincent $

#include "loadable-bundle-target.xcconfig"


