// release-style.xcconfig
// Settings for project-level "Release" build style
//
// Copyright 2006-2010 Wincent Colaiuta. All rights reserved.
//
// Redistribution and use in source and binary forms, with or without
// modification, are permitted provided that the following conditions are met:
//
// 1. Redistributions of source code must retain the above copyright notice,
//    this list of conditions and the following disclaimer.
// 2. Redistributions in binary form must reproduce the above copyright notice,
//    this list of conditions and the following disclaimer in the documentation
//    and/or other materials provided with the distribution.
//
// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
// AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
// IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
// ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR CONTRIBUTORS BE
// LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
// CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
// SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
// INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
// CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
// ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
// POSSIBILITY OF SUCH DAMAGE.

#include "base-style.xcconfig"

// Dead Code Stripping needs full symbols
DEAD_CODE_STRIPPING             = YES
GCC_GENERATE_DEBUGGING_SYMBOLS  = YES
GCC_DEBUGGING_SYMBOLS           = full

// necessary for stripping (will only actually install if DSTROOT is set to /)
DEPLOYMENT_POSTPROCESSING       = YES
SKIP_INSTALL                    = NO

// for greater control, perform stripping using a script rather than letting the linker do it
STRIP_INSTALLED_PRODUCT         = NO
SEPARATE_STRIP                  = NO

// may be redundant, but for completeness
STRIP_STYLE                     = all

// note that for some bundle targets, combining dead code stripping with normal
// symbol stripping results in huge executables; in those cases you must use
// only one or the other

// inlined functions are hidden
GCC_INLINES_ARE_PRIVATE_EXTERN  = YES

// setting this to YES leads to faster link times but means that atos can't extract line numbers
// see xcode-users thread, "DWARF format and stripping": http://lists.apple.com/archives/Xcode-users/2006/May/msg00855.html
ONLY_LINK_ESSENTIAL_SYMBOLS     = NO

KEEP_PRIVATE_EXTERNS            = NO

// NDEBUG turns off C assert
// NSBlockAssertions turns off NSAssert and friends
//GCC_PREPROCESSOR_DEFINITIONS    = NDEBUG NSBlockAssertions
