#extends '../../buildtools/help/access'

#def setup
  #super
  #include 'settings.txt'
  #set $page_title = 'title override just for this page'
#end

#def splash_image
  <img src="gfx/splash.png" alt="Hextrapolate main window" height="200" width="159" border="0">
#end

#def right
  ## example content (must override)
  <h2>What's new in Hextrapolate?</h2>
  <p>$link_to('whats_new', 'Check out great new features.')</p>
  <h2>Learn about Hextrapolate</h2>
  <p>$link_to('learn_about', 'Quickly convert numbers of unlimited size')</p>
  <h2>Solving problems</h2>
  <p>$link_to('problems', 'Find the answers to common problems.')</p>
  <h2>Index</h2>
  <p>$link_to('contents_overview', 'Look up topics easily')</p>
#end
