## help.tmpl
## Abstract superclass for all other help page types
## buildtools help templates
##
## Copyright 2006-2010 Wincent Colaiuta. All rights reserved.
##
## Redistribution and use in source and binary forms, with or without
## modification, are permitted provided that the following conditions are met:
##
## 1. Redistributions of source code must retain the above copyright notice,
##    this list of conditions and the following disclaimer.
## 2. Redistributions in binary form must reproduce the above copyright notice,
##    this list of conditions and the following disclaimer in the documentation
##    and/or other materials provided with the distribution.
##
## THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
## AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
## IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
## ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR CONTRIBUTORS BE
## LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
## CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
## SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
## INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
## CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
## ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
## POSSIBILITY OF SUCH DAMAGE.

#import 'apple_help'
#include 'settings.txt'

#def content
## Anything in the "content" block will be passed through WalrusCloth (modified Textile syntax)
#end

#block setup
  ## subclasses can augment this method if they wish to perform setup before the rest of the template gets rendered
  ## as this block appears at the very beginning of the output (before even the DOCTYPE declaration) care should be
  ## taken to only perform setup actions which do not produce output
  ## subclasses should always call #super as well to give parent templates a chance to perform their own setup
#end
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html401/sgml/loosedtd.html">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>
      #block title
        $page_title
      #end
    </title>
    <meta name="author" content="Wincent Colaiuta">
    <meta name="author-email" content="win@wincent.com">
    <meta name="copyright" content="Copyright 2007-2008 Wincent Colaiuta">

    #block css
      <link href="css/base.css" rel="stylesheet" media="all" type="text/css">
    #end

    #block meta
      ## other, optional meta tags go here
    #end

  </head>

  <body>
    $tag
    $categories
    #block body
      $cloth($content)
    #end
  </body>

</html>
