## task.tmpl
## A template for describing a step-by-step task
## WOCommon help templates
##
## Created by Wincent Colaiuta on 11 October 2006.
## Copyright 2006-2008 Wincent Colaiuta

#extends 'basic'
