/*

  base.css
  Created by Greg Hurrell on 11 October 2006.
  Copyright 2006-present Greg Hurrell

 */

/* Hack: <html><head><meta name="robots" content="noindex"></head></html> (tells Help Indexer to ignore this file) */

body {
  color: #000;
  background-color: #fff;
  margin: 0;
  font-family: Lucida Grande, Arial, sans-serif;
  }

a {
  color: #778fbd;
  font-weight: bold;
  text-decoration: none
  }

a:hover {
  text-decoration: underline
  }

h1 {
  font-size: 15pt;
  font-weight: bold;
/*  letter-spacing: -1pt; */
  padding-top: 12px
  }

h1 img {
  margin-right: 15px;
}

h2 {
  font-size: 9pt;
  line-height: 12pt;
  margin-top: 16px
  }

h3 {
  font-size: 8pt;
  font-weight: 300;
  margin-top: 21px;
}

p {
  font-size: 8pt;
  line-height: 12pt;
  margin-top: -10px;
  margin-left: 0
  }

#banner {
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  padding: -2px 6px 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.2em;
  float: left;
  border-bottom: 1px solid #bfbfbf
}

#index_link {
  background-color: #f2f2f2;
  padding-top: 2px;
  padding-right: 25px;
  top: 2px;
  right: 12px;
  width: auto;
  float: right
}

#index_link a {
  color: #666;
  font-size: 8pt;
  font-weight: normal;
  margin: -9px 0 -6px;
  padding-top: 24px;
  padding-bottom: 3px;
  padding-left: 8px;
  border-left: 1px solid #bfbfbf
}

#frame {
  display: table;
  text-align: left;
  margin-top: 12px;
  margin-right: auto;
  margin-left: auto;
  width: 90%
  }

#inner_frame {
  display: table-row;
  }

#content_left {
  display: table-cell;
  margin-top: 38px;
  vertical-align: top;
  width: 50%;
  /*float: left*/
  }
/*
#content_center {
  margin-top: 2px;
  padding: 0;
  width: 18px;
  float: left
  }
*/
#content_right {
  display: table-cell;
  margin-top: 18px;
  vertical-align: top;
  padding-left: 30px;
  padding-top: 30px;
  width: 50%;
/*  height: 300px;*/
/*  float: left; */
  }

#access_box {
  border: 13px;
  border-image: url("../gfx/border.png") 13 13 13 13 stretch stretch;
  -moz-border-image: url("../gfx/border.png") 13 13 13 13 stretch stretch;
  -webkit-border-image: url("../gfx/border.png") 13 13 13 13 stretch stretch;
  background-color: #fff;
  list-style-type: decimal;
  list-style-position: outside;
  margin: 12px 0;
  padding: 2px 12px;
}

#access_box h2 {
  color: #666;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 8pt;
  margin-bottom: 2em
}

#access_box h3 a {
  color: #666;
  font-weight: normal
}

#access_box p {
  font-size: 9pt;
  margin-bottom: 1.5em
}

#access_box hr {
  margin-bottom: 20px;
  width: 60%;
}

.icon {
  margin-bottom: -2px
}
